body {
    background:#ADD8E6;
}

.container{
    background: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    height: 90%;
    border-radius: 5px;
}
input[type="submit"].button-primary{
    background-color: rgba(118, 10, 133, 0.815);
}

.center{
    display: flex;
    justify-content: center;
}